<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Viola Education</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="css/jqmath-0.4.3.css">
    <script src="js/jquery-1.4.3.min.js"></script>
    <script src="js/jqmath-etc-0.4.6.min.js" charset="utf-8"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>
  
<style>
  #videohover {transition: background 0.5s ease-in-out;}
  #videohover:hover {background: #D6FDEA;}
  .container {width: 500px; border: 5px solid rgb(111,41,97); border-radius: .5em; padding: 10px;}
  .navbar-custom {background-color: #3bc49e;} 
  .btn-custom {background-color: #3bc49e;} 
  .white-class {background-color: white;}
  #manipulate {position:absolute; width:300px; background: white; bottom:0px; right:25%; left:50%; margin-left:-150px;}
  a {color: white}
  .btn {background: #00CCA1; border: #00CCA1}
  .btn:hover {background: #00B8A1; border: #00B8A1}
  .btn:click {background: #00B8A1; border: #00B8A1}
  .btn:active {background: #00B8A1; border: #00B8A1}
  .btn:disable {background: #00CCA1; border: #00CCA1}
  .btn:focus {background: #00B8A1; border: #00B8A1}
  .btn:visited {color: purple;}
  #viewfileswritten {cursor: pointer;}
  body {
              color: #404E67;
          }
          .table-wrapper {
              width: 700px;
              margin: 30px auto;
              background: #fff;
              padding: 20px;	
              box-shadow: 0 1px 1px rgba(0,0,0,.05);
          }
          .table-title {
              padding-bottom: 10px;
              margin: 0 0 10px;
          }
          .table-title h2 {
              margin: 6px 0 0;
              font-size: 22px;
          }
          .table-title .add-new {
              float: right;
              height: 30px;
              font-weight: bold;
              font-size: 12px;
              text-shadow: none;
              min-width: 100px;
              border-radius: 50px;
              line-height: 13px;
          }
          .table-title .add-new i {
              margin-right: 4px;
          }
          table.table {
              table-layout: fixed;
          }
          table.table tr th, table.table tr td {
              border-color: #e9e9e9;
          }
          table.table th i {
              font-size: 13px;
              margin: 0 5px;
              cursor: pointer;
          }
          table.table th:last-child {
              width: 100px;
          }
          table.table td a {
              cursor: pointer;
              display: inline-block;
              margin: 0 5px;
              min-width: 24px;
          }    
          table.table td a.add {
              color: #27C46B;
          }
          table.table td a.edit {
              color: #FFC107;
          }
          table.table td a.delete {
              color: #E34724;
          }
          table.table td i {
              font-size: 19px;
          }
          table.table td a.add i {
              font-size: 24px;
              margin-right: -1px;
              position: relative;
              top: 3px;
          }    
          table.table .form-control {
              height: 32px;
              line-height: 32px;
              box-shadow: none;
              border-radius: 2px;
          }
          table.table .form-control.error {
              border-color: #f50000;
          }
          table.table td .add {
              display: none;
          }
  </style>
  
  <body class="css-selector" id="homeBody">
    <div id="content">
      <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" style="outline: black; ">        
        <a class="navbar-brand" href="/" style="color: #31b08f;;"><b>VIOLA</b></a>        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">          
          <span class="navbar-toggler-icon"></span>        
        </button>              
        <div class="collapse navbar-collapse" id="navbarSupportedContent">          
          <ul class="navbar-nav mr-auto">            
            <li class="nav-item">              
              <a class="nav-link" href="/database" style="cursor: pointer">Database</a>            
            </li>            
            <li class="nav-item">              
              <a class="nav-link" href="#">About</a>            
            </li>          
          </ul>          
          <form class="form-inline my-2 my-lg-0">            
            <a class="btn my-2 my-sm-0" type="submit" style="color: white" href="/login">Account</a>          
          </form>        
        </div>      
      </nav>           
    
      <br>
      <div id="container"> 
        <div class="" style="color: #31b08f;">
          <h1 class="display-4" style="margin-left: 20px"> <b id="examcontent"> </b></h1>
          
          <br>
    
          <h1 class="display-10" style="font-size: 1.1em; margin-left: 20px" id="titlecontent"></h1> 
          <h1 class="display-10" style="font-size: 0.8em; margin-left: 20px; color: grey; width: 75%" id="descriptioncontent"> </h1>
        </div>
      </div>
    
      <br>
    
      <div id="videohover" >
        <hr style="color: green; opacity: 100%; "> <br>
    
        <div class="d-flex flex-row justify-content-between mb-3" style="color: #31b08f;">
          <h1 id="viewfiles" class="display-10" style="font-size: 1.75em; margin-left: 20px; cursor: pointer;" >Examination Paper</h1> 
        </div>
    
        <div class="d-flex flex-row justify-content-between mb-3" style="color: #31b08f;">
          <p class="display-10" style="font-size: 0.9em; margin-left: 20px; margin-top: -15px; margin-bottom: -50px; cursor: pointer;">View the exam file the specific question is found in.</p> 
        </div> 
        <hr style="margin-top: 35px"> 
      </div>
        <div id="sourcepaperpdf" style="color: #31b08f;"></div> 
    
    
      <div id="videohover" >
        <hr style="color: green; opacity: 100%; "> <br>
    
        <div class="d-flex flex-row justify-content-between mb-3" style="color: #31b08f;">
          <h1 id="viewfilesvideo" class="display-10" style="font-size: 1.75em; margin-left: 20px; cursor: pointer;" >Video Explaination</h1> 
        </div>
    
        <div class="d-flex flex-row justify-content-between mb-3" style="color: #31b08f;">
          <p class="display-10" style="font-size: 0.9em; margin-left: 20px; margin-top: -15px; margin-bottom: -50px; cursor: pointer;">View a video explaination of the specific question.</p> 
        </div> 
        <hr style="margin-top: 35px"> 
      </div>
        <div id="sourcevideo" style="color: #31b08f;"></div> 
    
      <div id="videohover" >
        <hr style="color: green; opacity: 100%; "> <br>
    
        <div class="d-flex flex-row justify-content-between mb-3" style="color: #31b08f;">
          <h1 id="viewfileswritten" class="display-10" style="font-size: 1.75em; margin-left: 20px; cursor: pointer;" >Written Explaination</h1> 
        </div>
    
        <div class="d-flex flex-row justify-content-between mb-3" style="color: #31b08f;">
          <p class="display-10" style="font-size: 0.9em; margin-left: 20px; margin-top: -15px; margin-bottom: -50px; cursor: pointer;">View a written response explaining in depth the theory and answer to the question.</p> 
        </div> 
        <hr style="margin-top: 35px"> 
      </div>
        <div id="sourcewritten" style="color: #31b08f;"></div> 
    
        <div id="videohover">
          <hr style="color: green; opacity: 100%; "> <br>
      
          <div class="d-flex flex-row justify-content-between mb-3" style="color: #31b08f;">
            <h1 id="viewfilesexternalexplain" class="display-10" style="font-size: 1.75em; margin-left: 20px; cursor: pointer;" >External Explaination</h1> 
          </div>
      
          <div class="d-flex flex-row justify-content-between mb-3" style="color: #31b08f;">
            <p class="display-10" style="font-size: 0.9em; margin-left: 20px; margin-top: -15px; margin-bottom: -50px; cursor: pointer;">View a written response explaining in depth the theory and answer to the question.</p> 
          </div> 
          <hr style="margin-top: 35px"> 
        </div>

          <div id="sourceexternalwritten" style="color: #31b08f;"></div>
    
          <div id="videohover">
            <hr style="color: green; opacity: 100%; "> <br>
        
            <div class="d-flex flex-row justify-content-between mb-3" style="color: #31b08f;">
              <h1 id="viewfilessolution" class="display-10" style="font-size: 1.75em; margin-left: 20px; cursor: pointer;" >VCAA Explaination</h1> 
            </div>
        
            <div class="d-flex flex-row justify-content-between mb-3" style="color: #31b08f;">
              <p class="display-10" style="font-size: 0.9em; margin-left: 20px; margin-top: -15px; margin-bottom: -50px; cursor: pointer;">View VCAA's response for examiner's to mark the question.</p> 
            </div> 
            <hr style="margin-top: 35px"> 
          </div>
            <div id="sourcesolutionpdf" style="color: #31b08f;"></div>
    
    
      <div id="videohover">
        <hr style="color: green; opacity: 100%; "> <br>
    
        <div class="d-flex flex-row justify-content-between mb-3" style="color: #31b08f;">
          <h1 id="viewfilesexternal" class="display-10" style="font-size: 1.75em; margin-left: 20px; cursor: pointer;" >External Sources</h1> 
        </div>
    
        <div class="d-flex flex-row justify-content-between mb-3" style="color: #31b08f;">
          <p class="display-10" style="font-size: 0.9em; margin-left: 20px; margin-top: -15px; margin-bottom: -50px; cursor: pointer;">View third party sources that may help assist in understanding the question.</p> 
        </div> 
        <hr style="margin-top: 35px"> 
      </div>
        <div id="sourceexternal" style="color: #31b08f;"></div>
    
    
      <br> -->
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/load.js"></script>
    </div>
</body>

<!-- <div class="container-lg">
  <div class="table-responsive">
      <div class="table-wrapper">
          <div class="table-title">
              <div class="row">
                  <div class="col-sm-8"><h2>Employee <b>Details</b></h2></div>
                  <div class="col-sm-4">
                      <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                  </div>
              </div>
          </div>
          <table class="table table-bordered">
              <thead>
                  <tr>
                      <th>Name</th>
                      <th>Department</th>
                      <th>Phone</th>
                      <th>Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>John Doe</td>
                      <td>Administration</td>
                      <td>(171) 555-2222</td>
                      <td>
                          <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                          <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                          <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                      </td>
                  </tr>
                  <tr>
                      <td>Peter Parker</td>
                      <td>Customer Service</td>
                      <td>(313) 555-5735</td>
                      <td>
                          <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                          <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                          <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                      </td>
                  </tr>
                  <tr>
                      <td>Fran Wilson</td>
                      <td>Human Resources</td>
                      <td>(503) 555-9931</td>
                      <td>
                          <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                          <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                          <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                      </td>
                  </tr>      
              </tbody>
          </table>
      </div>
  </div> -->